@model int

<div class="container row pt-4 mb-5">
    <div class="col-12 text-center">
        <h1>Order Placed Successfully!</h1>
        <p>Your Order Number is : @Model</p>
        <img src="~/images/lawn_leaf.jpg" width="50%" />
        <br /> 
        <br />
        <h4 class="text-danger">Your order has been Placed successfully</h4>
    </div>
</div>